---
import BlogPost from "../../layouts/BlogPost.astro";

const title = "Mkultra";
const description = "Découvrez comment Mkultra est important.";
const pubDate = new Date("2026-02-18");
const author = "Martin King, Ultra";
---

<BlogPost
  title={title}
  description={description}
  pubDate={pubDate}
  author={author}
>

  <h1>{title}</h1>

  <p>
    Mkultra, une facon de controler le cerveau. Peut-etre le nucleaire peut faire sa? On ne sais jamais. Btw, cette page est confidentiel. Tout tentative de le 
    consulter n'est pas permis sans permission explicite de 
  </p>
</BlogPost>
